<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
            integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous">
</head>
<body>
    

<nav>
    <div class="nav-wrapper black white-text">
      <div class="col s12">
        <a href="/" class="breadcrumb center">Home</a>
        <a href="/instruments" class="breadcrumb center"> /Instruments/ </a>
        <a href="content.html" class="breadcrumb center"> /Content/ </a>
      </div>
    </div>
  </nav>
</body>
</html>