<html>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/materialize.min.css">

    <!-- would a CDN fit better here?  -->

    <div class="navbar">
        <nav class="black white-text">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="javascript:void(0);" class="brand-logo center">LOGO
                        <img src="./images/rock.png" alt width="32" height="32">
                    </a>
                    <a href="" data-target="mobile-navbar" class="sidenav-trigger white-text show-on-large right">
                        <span style="font-size: 28px;"> &#9776; </span>
                    </a>
                    <ul class="hide-on-med-and-down">
                        <li>
                            <a class="show" href="index.html">Home
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="drums.html">Drums Demo
                                <i class="fa fa-music"></i>
                            </a>
                        </li>
                        <li>
                            <a href="playlist.html">Playlists
                                <i class="fa fa-server"></i>
                            </a>
                        </li>
                        

                        <!-- Add Authentications Here -->
                        <li class="right">
                            <a href="content.html">Other Content
                                <i class="fa fa-bell-slash-o"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    <ul id="mobile-navbar" class="sidenav grey lighten-2">
        <li>
            <a href="javascript:void(0);" class="sidenav-close center">
                Close X
            </a>
            <div class="user-view">
                <div class="background">
                    <img src="./images/black-and-white-carbon-close-up-close-up-2092075.jpg" alt="">
                </div>
                <a href="#">
                    <img src="./images/concert-duotone-32x32.png" alt="" class="circle">
                </a>
                <a href="">
                    <span id="user-name-display" class="white-text">User</span>
                </a>
                <span id="user-mail" class="user-mail white-text">
                    User@mailexample
                </span>
            </div>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="index.html">
                <i class="fa fa-cog"></i>
                Sign In / Sign Up
            </a>
            <div class="divider blue-grey"></div>
        <li>
            <div class="subheader black-text center-align">
                LINKS
            </div>
        </li>
        <li>
            <a href="content.html" class="waves-effect">
                Content
                <i class="fa fa-gears"></i>
            </a>
        </li>
        <li>
            <a href="playlist.html" class="waves-effect">
                Content
                <i class="fa fa-gears"></i>
            </a>
        </li>
        <li>
            <a href="drums.html" class="waves-effect">
                Drums Demo
                <i class="fa fa-gears"></i>
            </a>
        </li>
        </li>
    </ul>

    <script src="/public/javascripts/jquery3.5.1-uncompressed.js"></script>
    <script src="/public/javascripts/materialize.min.js"></script>
    <script src="/public/javascripts/materialize-helpers.js"></script>

</html>