<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/materialize.css">

</head>
<body>
    

    <h1>hello again</h1>
    <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-image">
              <img height="400" width="400" src="./images/black-and-white-carbon-close-up-close-up-2092075.jpg">
              <span class="card-title">Drums Demo</span>
              <a class="btn-floating halfway-fab waves-effect waves-light blue"><i class="fa fa-plus-sign">go</i></a>
            </div>
            <div class="card-content">
              <p>Drums Demo Page</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>