<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Document</title>
    <link type="text/css" href="/public/stylesheets/materialize.min.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">  -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class="center">Instruments</h1>

    <% include('partials/nav.ejs') %> 
    <div class="container center">
        <ul class="collection center-align">

            <% for (var i=0; i < 5; i++) { %> 
                <li class="collection-item">
                  <%=  instrumentArr[i] %> 
                </li>
            <% } %>
            
        </ul>
    </div>
   
      <div>
        <h5 class="center-align"> <%= info %> </h5>
      </div>
</body>
</html>